<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Kaggle練習用" data-toc-modified-id="Kaggle練習用-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Kaggle練習用</a></span></li><li><span><a href="#性別を数値化" data-toc-modified-id="性別を数値化-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>性別を数値化</a></span></li><li><span><a href="#欠損データの補修" data-toc-modified-id="欠損データの補修-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>欠損データの補修</a></span></li><li><span><a href="#学習と検証用データを作成" data-toc-modified-id="学習と検証用データを作成-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>学習と検証用データを作成</a></span></li><li><span><a href="#ランダムフォレスト" data-toc-modified-id="ランダムフォレスト-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ランダムフォレスト</a></span></li><li><span><a href="#訓練用データを全部使って学習" data-toc-modified-id="訓練用データを全部使って学習-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>訓練用データを全部使って学習</a></span></li><li><span><a href="#提出用データ作成" data-toc-modified-id="提出用データ作成-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>提出用データ作成</a></span></li></ul></div>

# Kaggle練習用

In [175]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [176]:
df_test = pd.read_csv('data/test.csv') 
df_train = pd.read_csv('data/train.csv')
df_gender_submission = pd.read_csv('data/gender_submission.csv') # 解答サンプル

In [177]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [178]:
df_X_train = df_train[['Pclass','Sex', 'Age', 'Fare','Survived']].copy()
df_y_train = df_train['Survived'].copy()
df_X_test = df_test[['Pclass','Sex', 'Age', 'Fare',]].copy()

df_X_train_back = df_X_train.copy()
df_y_train_back = df_y_train.copy()
df_X_test_back = df_X_test.copy()

# 性別を数値化

In [179]:
#LabelEncoderのインスタンスを生成
le = LabelEncoder()
#ラベルを覚えさせる
le = le.fit(df_X_train['Sex'])
print( le.classes_)
#ラベルを整数に変換
df_X_train.loc[:,'Sex'] = le.transform(df_X_train.loc[:,'Sex'])
df_X_test.loc[:,'Sex'] = le.transform(df_X_test.loc[:,'Sex'])

['female' 'male']

# 欠損データの補修

In [ ]:
df_X_train

In [180]:
imr = SimpleImputer(missing_values=np.nan, strategy='mean') #平均補完
imr = imr.fit(df_X_train)
X_train_clean = imr.transform(df_X_train)
#imr = imr.fit(df_X_test)
X_test_clean = imr.transform(df_X_test)
y_train_clean = df_y_train.values

In [181]:
X_train_clean

array([[ 3.        ,  1.        , 22.        ,  7.25      ],
       [ 1.        ,  0.        , 38.        , 71.2833    ],
       [ 3.        ,  0.        , 26.        ,  7.925     ],
       ...,
       [ 3.        ,  0.        , 29.69911765, 23.45      ],
       [ 1.        ,  1.        , 26.        , 30.        ],
       [ 3.        ,  1.        , 32.        ,  7.75      ]])

# 学習と検証用データを作成

In [182]:
X_train, X_vali, y_train, y_vali = train_test_split( X_train_clean, y_train_clean, test_size=0.3)

# ランダムフォレスト

In [183]:
clf= RandomForestClassifier(n_estimators=500,random_state=0)
clf2= RandomForestClassifier(n_estimators=500,random_state=0)

clf.fit( X_train, y_train)
y_pred = clf.predict( X_vali )

In [184]:
np.sum(y_vali == y_pred) / len(y_pred)

0.8097014925373134

In [185]:
print( y_vali[0:10], y_pred[0:10] )
del clf

[0 0 0 1 0 0 0 0 0 0] [0 0 0 1 0 0 0 0 1 0]

# 訓練用データを全部使って学習

In [186]:
X_train = X_train_clean
y_train = y_train_clean
X_test = X_test_clean

clf= RandomForestClassifier(n_estimators=2000,random_state=0)
clf.fit( X_train, y_train)
y_pred = clf.predict( X_test )

# 提出用データ作成

In [187]:
pid = df_test['PassengerId']
df_pred = pd.DataFrame(y_pred, pid, columns = ['Survived'] )
df_pred.to_csv("result.csv", index_label = ["PassengerId"])

In [188]:
#%qtconsole